<html>
  <head>
    <title>{{ title }} - colorado fishing report</title>
  </head>
  <body>
    <h1>Welcome to Colorado Fishing Report!</h1>
  </body>
  <h3>Please click on one of the links below to see how a river is fishing!</h3>
  <ul class="riverList">
    <li>Arkansas River</li>
    <li>Big Thompson River</li>
    <li>Bear Creek</li>
    <li>Blue River</li>
    <li>Boulder Creek</li>
    <li>Cache La Poudre River</li>
    <li>Clear Creek</li>
    <li>Encampment</li>
    <li>Fryingpan River</li>
    <li>Gray Reef</li>
    <li>Gunnison and Taylor River</li>
    <li>Laramie</li>
    <li>North Platte River</li>
    <li>Rocky Mountain National Park</li>
    <li>Saint Vrain River</li>
    <li>South Boulder Creek</li>
    <li>South Platte River</li>
    <li>Stillwaters</li>
    <li>Upper North Platte</li>
    <li>Yampa River</li>
  </ul>





</html>
